<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Confirmation Of Deletion</title>
    <script th:inline="javascript">

        function answerNo() {
            window.location.href = `/users/edit-user?id=${[[${id}]]}`;
        }
    </script>
</head>
<body>
<form th:method="DELETE" th:action="@{/users/delete-user(id=${id})}">
    <p><h3 th:text="${'Do you really want to delete a user with ID: ' + id + '?'}">question</h3></p>
    <p>
        <input type="submit" value="Yes" />
        <input type="button" value="No" onclick="answerNo()" />
    </p>
</form>
</body>
</html>