<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>
<h3 th:text="${'ID: ' + user.getId()}">id</h3>
<form th:method="PUT" th:action="@{/users/edit-user(id=${user.getId()})}" th:object="${user}">
    <p>
        <label for="username">Username</label>
        <input id="username" type="text" th:field="*{username}" th:value="${user.getUsername()}" />
        <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}" >ErrorMessage</div>
    </p>
    <p>
        <label for="phone">Phone Number</label>
        <input id="phone" type="tel" th:field="*{phoneNumber}" th:value="${user.getPhoneNumber()}" />
        <div style="color: red" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" >ErrorMessage</div>
    </p>
    <p>
        <label for="email">E-mail</label>
        <input id="email" type="text" th:field="*{email}" th:value="${user.getEmail()}" />
        <div style="    color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}" >ErrorMessage</div>
    </p>
    <p><input type="submit" value="Save" /></p>
</form>
<p><a th:href="@{/users/user-info(id=${user.getId()})}">Back</a></p>
<p><a th:href="@{/users/delete-user(id=${user.getId()})}">Delete the user</a></p>
<p><a th:href="@{/users/create}">Create a new user</a></p>
<p><a th:href="@{/users/list}">Go to the user's list</a></p>
</body>
</html>